version: '3.8'

services:
  bot:
    build: .
    volumes:
      - ./logs:/app/logs
    restart: always
    depends_on:
      - db
    environment:
      - DEV_DATABASE_URL=postgresql+asyncpg://postgres:12345@db:5432/dev_analytics_bot
      - DEV_DB_URL_FOR_ALEMBIC=postgresql://postgres:12345@db:5432/dev_analytics_bot
      - PROD_DATABASE_URL=postgresql+asyncpg://postgres:12345@db:5432/prod_analytics_bot
      - PROD_DB_URL_FOR_ALEMBIC=postgresql://postgres:12345@db:5432/prod_analytics_bot
      - IS_DEVELOPMENT=True
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMINS_LIST_STR=${ADMINS_LIST_STR}

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: dev_analytics_bot
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

volumes:
  postgres_data:
