# Токен бота Telegram
BOT_TOKEN=Токен из bot father

IS_DEVELOPMENT = True

# Разработка
DEV_DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/db_name
DEV_DB_URL_FOR_ALEMBIC=postgresql://postgres:password@localhost:5432/db_name

# Продакшн
PROD_DATABASE_URL = postgresql+asyncpg://postgres:password@localhost:5432/db_name
PROD_DB_URL_FOR_ALEMBIC = postgresql://postgres:password@localhost:5432/db_name

